@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000cb;
    --foreground: #000000;
  }
}

body {
  color: rgb(255, 255, 255);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
